@import 'styles/utils';

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 300;
  background-color: #c1cdcd;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--right-side {
    align-items: center;
    display: flex;
    margin-right: 15px;
  }

  &__logo {
    height: 30px;
    padding-left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 350;
  }

  &__menu {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: currentColor;

    &__icon {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline-block;
      padding: 20px;

      &:focus {
        outline: none;
      }
    }

    .burger {
      svg {
        fill: currentColor;
        height: 27px;
      }
    }

    &__links {
      display: none;
    }

  }

  &__container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in;
    width: 75%;
    z-index: 2;
    background-color: #c1cdcd;
    color: $white;

    &__link {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      color: currentColor;
      font-family: $fontFamily;
      font-size: 16px;
      padding: 15px 25px;
      opacity: 0;
      text-decoration: none;
      visibility: hidden;

      &:hover,
      &:active,
      &--active {
        text-decoration: none;
      }

      &:last-child {
        border-bottom: none;
        border-top: none;
        border-bottom-left-radius: 8px;
        padding-bottom: 17px;
      }
    }

    &--active {
      opacity: 1;
      top: 70px;
      visibility: visible;
    }

    &--active > &__link {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: 500px) {
      width: 310px;
    }
  }

}

@media (min-width: 1025px) {
  .navigation {
    flex-direction: row;

    &__logo {
      padding-left: 55px;
    }

    &__container {
      &__link {
        padding: 15px 65px;
      }
    }

    &--right-side {
      margin-right: 40px;
    }

    &__profile__name {
      color: $white;
      display: block;
      margin: 0 15px;
      position: relative;
      text-decoration: none;
    }
  }
}
