@import 'styles/utils';

.item {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 10px;
  }

  &-map {
    height: 220px;
    width: 100%;
  }
}

.item__events {
  background-color: $white;
  border-radius: 8px;
  margin-top: 30px;
  overflow: hidden;
  padding: 15px 0 40px;

  .item__event {
    display: flex;
    flex-direction: column;

    &__button {
      background: $white;
      border: none;
      margin-top: 20px;
      width: 100%;
      z-index: 200;
      position: relative;

      &--active {
        background: $white;
        border: none;
        margin-top: 20px;
        width: 100%;
        z-index: 200;
        position: relative;

        .item__event__single {
          border-radius: 8px 8px 0 0;
        }

        &:focus {
          outline: none;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;

      &:last-child .item__event__timeline:before {
        height: 90%;
      }

      &:first-of-type .item__event__timeline {
        margin-top: 20px;
        padding-top: 0;
      }
    }

    &__more-details {
      align-items: flex-end;
      display: none;
      flex-direction: column;
      opacity: 0;
      padding: 0;
      text-align: left;
      transition: all 0.5s ease-in-out;
      visibility: hidden;
      z-index: 1;

      &__row {
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: none;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      &__cell {
        color: $colorSecondary;

        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        padding: 13px 30px;
        word-break: break-word;
        width: 70%;

        &--details {
          font-size: 12px;
        }

        &--title {
          color: $colorHeading;

          font-size: 12px;
          font-weight: 500;
          line-height: 1.2;
          padding: 13px 15px;
          width: 30%;
          white-space: nowrap;
        }
      }

      &__map {
        min-height: 220px;
        width: 100%;
      }

      &__button {
        background-color: rgba(167, 171, 210, 0.15);
        color: $colorHeading;

        font-weight: 500;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        z-index: 100;

        &:visited,
        &:hover,
        &:active {
          color: $colorHeading;
          text-decoration: none;
        }
      }
    }

    &__more-details--active {
      display: flex;
      opacity: 1;
      transform: translateY(-3px);
      visibility: visible;
    }

    &__single {
      align-items: center;
      border-radius: 8px;
      color: $white;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 15px 10px 20px;
      text-align: left;

      &__image {
        height: 42px;
        width: 42px;
        margin: 0 15px 3px 0;
        border-radius: 50%;
        background: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > img {
          max-width: 26px;
          max-height: 26px;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 5px;
      }

      &__heading {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        max-width: 250px;

        &--icon {
          height: 12px;
          margin-bottom: -2px;
          opacity: 0.7;
          padding-left: 7px;
          width: 12px;
        }
      }

      &__time {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      &__place {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin-left: 5px;
        opacity: 0.4;
        position: relative;

        &-container {
          display: flex;
        }

        &--icon {
          opacity: 0.4;

          svg {
            width: 12px;
            height: 14px;
          }
        }
      }
    }

    &__timeline {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      min-width: 40px;
      position: relative;
      padding-top: 25px;

      &::before {
        border-left: 2px solid #dfdfdf;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        width: 100%;
        z-index: 0;
        height: 100%;
      }

      &__heading {
        background: $white;
        color: $fontColorGray;
        font-size: 10px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 10px;
        width: 40px;
        z-index: 2;
      }

      &__dot {
        background-color: $colorSecondary;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        height: 10px;
        width: 10px;
        z-index: 2;
      }

      &__date {
        background: $white;
        color: $violetPastel;
        font-size: 11px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
        width: 40px;
        z-index: 2;
      }

      &:first-child &__heading,
      &:first-child &__date {
        display: none;
        visibility: hidden;
      }
    }
  }
}

@media (min-width: 420px) {
  .item__event__button {
    &::after {
      content: '';
      border-left: 8px solid transparent;
      border-top: 8px solid rgba(255, 255, 255, 0.3);
      border-right: 8px solid transparent;
      height: 0;
      position: absolute;
      right: 20px;
      top: calc(50% - 4px);
      width: 0;
    }

    &--active {
      width: 90% !important;
      word-break: break-all !important;

      &::after {
        content: '';
        border-left: 8px solid transparent;
        border-bottom: 8px solid rgba(255, 255, 255, 0.3);
        border-right: 8px solid transparent;
        height: 0;
        position: absolute;
        right: 20px;
        top: 42px;
        width: 0;
      }
    }
  }
}

@media (min-width: 320px) {
  .item {
    &__event {
      &__button {
        &::after {
          right: 30px;
        }

        &--active {
          &::after {
            right: 30px;
            top: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: 440px) {
  .item {

    &__event {
      &__button {
        &::after {
          right: 30px;
        }

        &--active {
          &::after {
            right: 30px;
            top: 35px;
          }
        }
      }
    }

    &__events &__event {
      &__single {
        margin-right: 20px;
        padding: 15px 10px 20px;

        &__time {
          margin-bottom: 0px;
        }

        &__container {
          flex-direction: row;
        }
      }

      &__more-details {
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 460px) {
  .item {
    &__event__button {
      &::after {
        right: 40px;
      }

      &--active {
        &::after {
          right: 40px;
          top: 30px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .item {
    &__events &__event {
      &__single {
        padding: 15px 30px 10px;

        &__heading {
          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .item {
    .wrapper {
      flex-direction: row;
      justify-content: center;
      padding-top: 0;
    }

    &__container {
      margin: 60px 20px;
      padding: 0;
      width: 50%;
    }

    &__events {
      margin-top: 60px;
    }

    &__event__button {
      &::after {
        right: 30px;
      }

      &--active {
        &::after {
          right: 30px;
        }
      }
    }
  }
}
