/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import '~styles/utils';

.item {
  .asset-block {
    display: flex;
    flex-direction: row;

    .asset-details-block {
      margin-top: -29px;
      width: 50%;
      padding-right: 50px;
    }

    .event-details-block {
      display: flex;
      justify-content: flex-end;
      margin-top: -29px;
      width: 50%;
    }

    .event-details-block > .item__container {
      width: 100%;
    }
  }

  &__header {
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    width: 100%;
    height: 381px;
    position: relative;
    background: rgba(52, 28, 188, 0.87);

    .hide-mobile {
      display: block;
    }

    &--item {
      zIndex: 2;

      span {
        span {
          svg {
            width: 200px;
          }
        }
      }
    }

    .fixing {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .text {
      font-family: Reso;
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      line-height: 23px;
      /* or 100% */

      text-align: right;

      color: #FCFCFC;
    }

    &--background {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      filter: opacity(0.1);
      width: 100%;
    }
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 95%;
    align-items: center;
    justify-content: center;
  }

  &-map {
    height: 220px;
    width: 100%;
  }
}

.item__events {
  background-color: $white;
  border-radius: 8px;
  margin-top: 30px;
  overflow: hidden;
  padding: 0 0 40px;

  .item__event {
    display: flex;
    flex-direction: column;

    &__button {
      background: $white;
      border: none;
      margin-top: 20px;
      width: 100%;
      z-index: 200;
      position: relative;

      &--active {
        background: $white;
        border: none;
        margin-top: 20px;
        width: 100%;
        z-index: 200;
        position: relative;

        .item__event__single {
          border-radius: 8px 8px 0 0;
        }

        &:focus {
          outline: none;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;

      &:last-child .item__event__timeline:before {
        height: 90%;
      }

      &:first-of-type .item__event__timeline {
        margin-top: 20px;
        padding-top: 0;
      }
    }

    &__more-details {
      align-items: flex-end;
      display: none;
      flex-direction: column;
      opacity: 0;
      padding: 0;
      text-align: left;
      transition: all 0.5s ease-in-out;
      visibility: hidden;
      z-index: 1;

      &__row {
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: none;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      &__cell {
        color: $colorSecondary;

        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        padding: 13px 30px;
        word-break: break-word;
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        &--details {
          font-size: 12px;
        }

        &--file-small {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        &--title {
          color: $colorHeading;

          font-size: 12px;
          font-weight: 500;
          line-height: 1.2;
          padding: 13px 15px;
          width: 30%;
          white-space: nowrap;
        }
      }

      &__map {
        min-height: 220px;
        width: 100%;
      }

      &__button {
        background-color: rgba(167, 171, 210, 0.15);
        color: $colorHeading;

        font-weight: 500;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        z-index: 100;

        &:visited,
        &:hover,
        &:active {
          color: $colorHeading;
          text-decoration: none;
        }
      }
    }

    &__more-details--active {
      display: flex;
      opacity: 1;
      transform: translateY(-3px);
      visibility: visible;
    }

    &__single {
      align-items: center;
      border-radius: 8px;
      color: $white;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 15px 10px;
      text-align: left;

      &__image {
        height: 42px;
        width: 42px;
        margin: 0 15px 3px 0;
        border-radius: 50%;
        background: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > img {
          max-width: 26px;
          max-height: 26px;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 5px;
      }

      &__heading {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        max-width: 250px;

        &--icon {
          height: 12px;
          margin-bottom: -2px;
          opacity: 0.7;
          padding-left: 7px;
          width: 12px;
        }
      }

      &__time {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      &__place {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin-left: 5px;
        opacity: 0.4;
        position: relative;

        &-container {
          display: flex;
        }

        &--icon {
          opacity: 0.4;

          svg {
            width: 12px;
            height: 14px;
          }
        }
      }
    }

    &__timeline {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      min-width: 40px;
      position: relative;
      padding-top: 25px;

      &::before {
        border-left: 2px solid #dfdfdf;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        width: 100%;
        z-index: 0;
        height: 100%;
      }

      &__heading {
        background: $white;
        color: $fontColorGray;
        font-size: 10px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 10px;
        width: 40px;
        z-index: 2;
      }

      &__dot {
        background-color: $colorSecondary;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        height: 10px;
        width: 10px;
        z-index: 2;
      }

      &__date {
        background: $white;
        color: $violetPastel;
        font-size: 11px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
        width: 40px;
        z-index: 2;
      }

      &:first-child &__heading,
      &:first-child &__date {
        display: none;
        visibility: hidden;
      }
    }
  }
}

@media (min-width: 420px) {
  .item__event__button {
    &::after {
      content: '';
      border-left: 8px solid transparent;
      border-top: 8px solid rgba(255, 255, 255, 0.3);
      border-right: 8px solid transparent;
      height: 0;
      position: absolute;
      right: 20px;
      top: calc(50% - 4px);
      width: 0;
    }

    &--active {
      width: 90% !important;
      word-break: break-all !important;

      &::after {
        content: '';
        border-left: 8px solid transparent;
        border-bottom: 8px solid rgba(255, 255, 255, 0.3);
        border-right: 8px solid transparent;
        height: 0;
        position: absolute;
        right: 20px;
        top: 42px;
        width: 0;
      }
    }
  }
}

@media (min-width: 260px) and (max-width: 440px) {
  .item {
    .asset-block {
      flex-direction: column;

      .asset-details-block {
        width: 100%;
        margin-top: 40px;
        padding-right: 0;
      }

      .event-details-block {
        width: 100%;
        margin-top: 40px;
      }

      .event-details-block > .item__container {
        width: 100%;
        margin: 0;
      }
    }

    &__header {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 381px;
      position: relative;
      background: rgba(52, 28, 188, 0.87);

      .hide-mobile {
        display: none;
      }

      &--item {
        zIndex: 2;
        padding: 10px;
        span {
          span {
            svg {
              width: 70px;
            }
          }
        }
      }

      .fixing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: Reso;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 23px;
        /* or 100% */

        text-align: right;

        color: #FCFCFC;
      }

      &--background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        filter: opacity(0.1);
        width: auto;
      }
    }

    &__container {
      margin: 0 auto;
      width: 100%;

      &__top {
        padding-bottom: 100px;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-heading {
          max-width: 869px;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          line-height: 40px;

          letter-spacing: 0.02em;

          color: $dark-purple-blue;
        }
      }

      &__about {
        background-color: $white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: inherit;
        justify-content: center;

        &--info {
          display: flex;
          flex-direction: column;

          .first {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__heading {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 36px;
              text-transform: uppercase;
              color: $dark-purple-blue;
              padding-bottom: 36px;
            }

            &__secondary {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 33px;
              letter-spacing: 0.02em;
              color: $dark-purple-blue;
              padding-bottom: 36px;

            }

            &__link {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: lowercase;
              color: $dark-purple-blue;
            }

          }

          .second {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--slider {
          padding-bottom: 30px;
          width: 100%;
          padding-top: 30px;
        }
      }

      &__blockchain-data {
        padding: 5%;
        padding-bottom: 36px;
        padding-top: 120px;

        &--heading {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: $dark-purple-blue;
        }


      }
    }


    &__event {
      &__button {
        &::after {
          right: 30px;
        }

        &--active {
          &::after {
            right: 30px;
            top: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: 440px) {
  .item {
    .asset-block {
      flex-direction: column;

      .asset-details-block {
        width: 100%;
        margin-top: 40px;
        padding-right: 0;
      }

      .event-details-block {
        width: 100%;
        margin-top: 40px;
      }

      .event-details-block > .item__container {
        width: 100%;
        margin: 0;
      }
    }

    &__header {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 381px;
      position: relative;
      background: rgba(52, 28, 188, 0.87);

      .hide-mobile {
        display: none;
      }

      &--item {
        zIndex: 2;
        padding: 20px;
        span {
          span {
            svg {
              width: 100px;
            }
          }
        }
      }

      .fixing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: Reso;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 23px;
        /* or 100% */

        text-align: right;

        color: #FCFCFC;
      }

      &--background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        filter: opacity(0.1);
        width: auto;
      }
    }

    &__container {
      margin: 40px 20px;
      padding: 0;
      width: 80%;

      &__top {
        padding-bottom: 100px;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-heading {
          max-width: 869px;

          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 40px;

          letter-spacing: 0.02em;

          color: $dark-purple-blue;
        }
      }

      &__about {
        background-color: $white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--info {
          display: flex;
          flex-direction: column;

          .first {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__heading {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 36px;
              text-transform: uppercase;
              color: $dark-purple-blue;
              padding-bottom: 36px;
            }

            &__secondary {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 33px;
              letter-spacing: 0.02em;
              color: $dark-purple-blue;
              padding-bottom: 36px;

            }

            &__link {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: lowercase;
              color: $dark-purple-blue;
            }

          }

          .second {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--slider {
          padding-bottom: 30px;
          width: 100%;
          padding-top: 30px;
        }
      }

      &__blockchain-data {
        padding: 5%;
        padding-bottom: 36px;
        padding-top: 120px;

        &--heading {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: $dark-purple-blue;
        }


      }
    }

    &__event {
      &__button {
        &::after {
          right: 30px;
        }

        &--active {
          &::after {
            right: 30px;
            top: 35px;
          }
        }
      }
    }

    &__events &__event {
      &__single {
        margin-right: 20px;
        padding: 15px 10px;

        &__time {
          margin-bottom: 0px;
        }

        &__container {
          flex-direction: row;
        }
      }

      &__more-details {
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 460px) {
  .item {
    .asset-block {
      flex-direction: column;

      .asset-details-block {
        width: 100%;
        margin-top: 40px;
        padding-right: 0;
      }

      .event-details-block {
        width: 100%;
        margin-top: 40px;
      }

      .event-details-block > .item__container {
        width: 100%;
        margin: 0;
      }
    }

    &__header {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 381px;
      position: relative;
      background: rgba(52, 28, 188, 0.87);

      &--item {
        zIndex: 2;
        padding: 20px;
        span {
          span {
            svg {
              width: 100px;
            }
          }
        }
      }

      .fixing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: Reso;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 23px;
        /* or 100% */

        text-align: right;

        color: #FCFCFC;
      }

      &--background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        filter: opacity(0.1);
        width: auto;
      }
    }

    &__container {
      margin: 40px 20px;
      padding: 0;
      width: 80%;

      &__top {
        padding-bottom: 100px;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-heading {
          max-width: 869px;

          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 40px;

          letter-spacing: 0.02em;

          color: $dark-purple-blue;
        }
      }

      &__about {
        background-color: $white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--info {
          display: flex;
          flex-direction: column;

          .first {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__heading {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 36px;
              text-transform: uppercase;
              color: $dark-purple-blue;
              padding-bottom: 36px;
            }

            &__secondary {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 33px;
              letter-spacing: 0.02em;
              color: $dark-purple-blue;
              padding-bottom: 36px;

            }

            &__link {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: lowercase;
              color: $dark-purple-blue;
            }

          }

          .second {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--slider {
          padding-bottom: 30px;
          width: 100%;
          padding-top: 30px;
        }
      }

      &__blockchain-data {
        padding: 5%;
        padding-bottom: 36px;
        padding-top: 120px;

        &--heading {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: $dark-purple-blue;
        }


      }
    }


    &__event__button {
      &::after {
        right: 40px;
      }

      &--active {
        &::after {
          right: 40px;
          top: 30px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .item {
    .asset-block {
      flex-direction: column;

      .asset-details-block {
        width: 100%;
        margin-top: 20px;
        padding-right: 0;
      }

      .event-details-block {
        width: 100%;
        margin-top: 20px;
      }

      .event-details-block > .item__container {
        width: 100%;
        margin: 0;
      }
    }

    &__header {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 381px;
      position: relative;
      background: rgba(52, 28, 188, 0.87);

      .hide-mobile {
        display: none;
      }

      &--item {
        zIndex: 2;
        padding: 20px;

        span {
          span {
            svg {
              width: 140px;
            }
          }
        }
      }

      .fixing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: Reso;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 23px;
        /* or 100% */

        text-align: right;

        color: #FCFCFC;
      }

      &--background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        filter: opacity(0.1);
        width: 1500px;
      }
    }

    &__container {
      margin: 40px 20px;
      padding: 0;
      width: 80%;

      &__top {
        padding-bottom: 100px;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-heading {
          max-width: 869px;

          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 40px;

          letter-spacing: 0.02em;

          color: $dark-purple-blue;
        }
      }

      &__about {
        background-color: $white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--info {
          display: flex;
          flex-direction: column;

          .first {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__heading {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 36px;
              text-transform: uppercase;
              color: $dark-purple-blue;
              padding-bottom: 36px;
            }

            &__secondary {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 33px;
              letter-spacing: 0.02em;
              color: $dark-purple-blue;
              padding-bottom: 36px;

            }

            &__link {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: lowercase;
              color: $dark-purple-blue;
            }

          }

          .second {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--slider {
          padding-bottom: 30px;
          width: 100%;
          padding-top: 30px;
        }
      }

      &__blockchain-data {
        padding: 5%;
        padding-bottom: 36px;
        padding-top: 120px;

        &--heading {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: $dark-purple-blue;
        }


      }
    }


    &__events &__event {
      &__single {
        padding: 15px 30px;

        &__heading {
          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .item {
    .asset-block {
      flex-direction: row;

      .asset-details-block {
        margin-top: -29px;
        width: 50%;
        padding-right: 50px;
      }

      .event-details-block {
        display: flex;
        justify-content: flex-end;
        margin-top: -29px;
        width: 50%;
      }

      .event-details-block > .item__container {
        width: 100%;
      }
    }

    &__header {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 381px;
      position: relative;
      background: rgba(52, 28, 188, 0.87);

      .hide-mobile {
        display: flex;
      }

      &--item {
        zIndex: 2;

        span {
          span {
            svg {
              width: 200px;
            }
          }
        }
      }

      .fixing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .text {
        font-family: Reso;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 23px;
        /* or 100% */

        text-align: right;

        color: #FCFCFC;
      }

      &--background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        filter: opacity(0.1);
        width: 2000px;
      }
    }

    .wrapper {
      flex-direction: row;
      justify-content: center;
      padding-top: 0;
    }

    &__container {
      margin: 40px 20px;
      padding: 0;
      width: 80%;

      &__top {
        padding-bottom: 100px;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-heading {
          max-width: 869px;

          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 40px;

          letter-spacing: 0.02em;

          color: $dark-purple-blue;
        }
      }

      &__about {
        background-color: $white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--info {
          display: flex;
          flex-direction: row;

          .first {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__heading {
              font-style: normal;
              font-weight: normal;
              font-size: 30px;
              line-height: 36px;
              text-transform: uppercase;
              color: $dark-purple-blue;
              padding-bottom: 36px;
            }

            &__secondary {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 33px;
              letter-spacing: 0.02em;
              color: $dark-purple-blue;
              padding-bottom: 36px;

            }

            &__link {
              font-family: Myriad Pro;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: lowercase;
              color: $dark-purple-blue;
            }

          }

          .second {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--slider {
          padding-bottom: 30px;
          width: 100%;
          padding-top: 30px;
        }
      }

      &__blockchain-data {
        padding: 5%;
        padding-bottom: 36px;
        padding-top: 120px;

        &--heading {
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          color: $dark-purple-blue;
        }


      }
    }

    &__events {
      margin-top: 30px;
    }

    &__event__button {
      &::after {
        right: 30px;
      }

      &--active {
        &::after {
          right: 30px;
        }
      }
    }
  }
}
