

.button {
  background-color: $white;
  border-radius: 8px;
  color: #3e55a6;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 10px 20px 10px 15px;
  text-align: center;
  text-decoration: none;

  &::before {
    color: #3e55a6;
    content: '<';
    font-size: 15px;
    height: 8px;
    line-height: 2;
    padding-right: 10px;
    width: 14px; }

  &-before {
    margin: 110px 0 0 20px; }}

.btn {
  display: inline-block;
  padding: 12px 12px 11px;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  background-color: #3e55a6;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  transition: box-shadow .3s;
	white-space: nowrap;

	&:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,.15); }}

