/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import "~styles/utils";

.table {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  &-title {
    border-bottom: 1px solid #e9eaf4;
    color: $colorHeading;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 15px 20px;
    text-align: left;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-subtitle {
    color: #858bb4;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 15px 20px;
    text-align: left;
    text-transform: lowercase;

    & + .table {
      padding: 0 20px 15px;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint-min(600) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  @keyframes apperance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &__raws-det{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 15px;

    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
      display: block;
    }
    a{
      height: 100px;
      align-self: center;
      display: flex;
      align-items: center;
    }
  }
  &__raws{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5px;

    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
      display: block;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: row;

    &-main {
      width: 100px;
      height: 100px;
      object-fit: cover;
      padding: 10px;
      cursor: pointer;
      display: block;
    }

    &-scale {
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      animation: apperance 1s forwards;
      left: 0;
      top: 0;
    }

    &-wrap {
      z-index: 20;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }


  }
  &__gallery-bg {
    z-index: 7;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-cell {
    color: $colorSecondary;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
    width: 100%;
    word-break: break-word;
    padding: 7px 0px;
    vertical-align: top;

    a {
      color: #3e55a6;
    }

    &--json {
      white-space: pre-wrap;
      text-indent: 16px;
      margin-left: -16px;
      width: 100%;
    }

    &--details {
      font-size: 12px;
    }

    &--title {
      color: $colorHeading;

      font-size: 13px;
      font-weight: 500;
      line-height: 1.4;
      padding: 15px 15px 15px 0;
      width: 100%;
      text-transform: lowercase;

      @include breakpoint-min(600) {
        width: 40%;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &-map {
    height: 214px;
    width: 422px;
  }

  &-seperator {
    background-color: #e9eaf4;
    border: 0;
    height: 1px;
    width: 100%;
  }
}
.small-image{
  margin-right: 10px;
  width:50px !important;
  height:50px !important;
  object-fit: cover;
}
