.AssetSearch {
  flex: 1;

  .search-button {
    border-radius: inherit;
    height: 100%;
    line-height: initial;
    min-width: 80px;
    margin-left: -5px;
    font-size: 13px;
    padding: 10px 35px;
  }

  .search-input {
    > div {
      margin-top: 0px;

    }

    max-width: 300px;
    margin-top: 0px;
  }
}
