/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import "~styles/utils";

.DisplayBar {
  align-items: center;
  border-radius: 8px;
  color: $white;
  display: flex;
  flex-direction: row;

  margin: 30px 0;
  max-width: 100%;
  padding: 20px 0;

  .bar {
    &__image {
      svg {
        height: 33px;
        width: 37px;
      }

      margin: 0 15px;

      @include breakpoint-min(600) {
        margin: 0 15px 10px 60px;
        position: relative;
        top: 5px;
      }
    }

    &__copy {
      max-width: 85%;

    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__heading {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.7;
      max-width: 250px;

      @include breakpoint-min(600) {
        max-width: 100%;
      }

      &--icon {
        height: 12px;
        margin-bottom: -2px;
        opacity: 0.7;
        padding-left: 7px;
        width: 12px;
      }
    }

    &__time {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.25;
      margin-top: 10px;
    }

    &__place {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.25;
      margin-left: 5px;
      margin-top: 10px;
      opacity: 0.4;
      position: relative;

      &--icon {
        margin: 8px 0 0 15px;
        opacity: 0.4;

        svg {
          width: 12px;
          height: 14px;
        }
      }
    }
  }
}
