/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
// Colors

$black: #333;
$grey: #9198bb;
$white: #fff;
$colorHeading: #292b42;
$colorSecondary: #9da2c9;
$fontColorGray: #b5b5b5;
$darkGray: #414450;


$light-blue: #00b7f9;
$blue: #0042ba;
$purple-blue: #122283;
$dark-purple-blue:#273477;
$dark-blue: #253277;

$purple: #5b1ec0;
$dark-purple: #4f299b;
$violetPastel: #5a5b7d;

$colorBg: #f8f9ff;

$light-red: #ff5c00;
$red: #ee1c25;
$dark-red: #d64040;

$light-green: #26f514;
$green: #40d685;
$dark-green: #019545;

$yellow: #f8e000;
$orange: #f7a120;
$marker: #ccff00;

// Font
$fontFamily: 'Montserrat',
sans-serif;
