.history {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      padding: 7px 15px;
      font-size: 13px;
  
      @media (min-width:320px) {
  
        &__div {
          margin-left: 20px;
        }
    
        &__small {
          word-break: break-all;
        }
  
      }
  
    }
  }
  
  .logo {
    padding: 50px 0;
    text-align: center;
  
    &__image {
      max-width: 200px;
    }
  }
  
  .clear__history {
    padding: 15px 0px 10px 0px;
  }
  
  .history_page {
    margin: 30px auto 75px auto;
  }