.Header {
    $color-blue: #00aeef;
    $color-blue-dark: #0d2035;
    $submenu-width: 180px;


    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    .menu-container {
        text-align: center;
    }

    .nav__submenu {
        display: none;
    }

    .nav__menu-item:hover {
        .nav__submenu {
            display: block;
        }
    }

    nav {
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .nav {
        padding: 20px 0;
        display: inline-block;
        margin: 0 20px;
        color: #fff;
        text-align: left;

        li {
            display: inline;
        }

        a {
            display: block;
            padding: 0 16px;
            line-height: inherit;
            cursor: pointer;
        }

        .logo {
            &__image {
                max-width: 200px;
            }
        }
    }

    .nav__menu {
        display: -webkit-flex;
        display: flex;
    }

    .nav__menu li:first-child {
        margin-right: auto;
    }

    .nav__menu-item {
        display: inline-block;
        position: relative;

        &:hover {
            // background-color: $color-blue;

            .nav__submenu {
                display: block;
            }
        }
    }

    .nav__submenu {
        font-weight: 300;
        text-transform: none;
        display: none;
        position: absolute;
        width: $submenu-width;
        background-color: $color-blue;
    }

    .nav__submenu-item {
        &:hover {
            background: rgba(#000, 0.1);
        }
    }

}