/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
.Timeline {
  .btnWrapper {
    padding-top: 40px;

    button {
      margin: 0 auto;
    }
  }

  .noContent {
    margin: auto;
  }
}
