@import "../../styles/mixins";

.footer {
    width: 100%;
    padding: 50px 0;
    color: #9198bb;
    font-size: 12px;

    .wrapper {
        @include breakpoint(1000) {
            display: block;
            text-align: center;
        }


        display: flex;
        flex-direction: row;
    }

    &__copyright {
        flex-basis: 300px;

        @include breakpoint(1000) {
            margin-bottom: 20px;
        }
    }

    &__contact {
        flex-basis: 300px;
        text-align: right;

        @include breakpoint(1000) {
            text-align: center;
            margin-top: 20px;
        }


        a {
            color: #9198BB;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__socials {
        flex-grow: 1;
        text-align: center;

        &__list {
            &__link {
                display: inline-block;
                margin: 0 10px;

                a {
                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        svg {
                            path {
                                fill: #122283;
                            }
                        }
                    }
                }
            }
        }
    }
}
