/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import "~styles/utils";

.AssetImage {
  margin-top: 30px;
  position: relative;

  > .image-wrapper {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include breakpoint-min(375) {
      height: 400px;
    }
  }

  .image-title {
    background-color: rgba(142, 142, 142, 0.85);
    bottom: 10px;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    padding: 20px 30px 20px 20px;
    position: absolute;
  }
}
